.f1 {
 color: blue;
 margin-top: 18pt;
 margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}
.f2 {
 color: red;
 margin-top:6 pt;
 margin-bottom: 6px;
  font-size: 15px;
 font-style: normal;
  font-family: Arial;
}
